<!DOCTYPE html>
<html lang="en">
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90vh;
      text-align: center;
      font-family: Arial, sans-serif;
      flex-direction: column;
    }
  </style>
  <head>
    <title>Ayah Hebat</title>
  </head>
  <body>
    <!-- <h1>Pembayaran anda selesai</h1> -->
    <h1>Silahkan kembali ke aplikasi</h1>
  </body>
</html>
